In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('car_evaluation.csv')

In [4]:
df

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [6]:
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
col_names = ['buying', 'maint', 'doors','persons', 'lug_boot', 'safety', 'class']

In [10]:
df.columns = col_names

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   buying    1727 non-null   object
 1   maint     1727 non-null   object
 2   doors     1727 non-null   object
 3   persons   1727 non-null   object
 4   lug_boot  1727 non-null   object
 5   safety    1727 non-null   object
 6   class     1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [14]:
df.describe().T

         count unique    top  freq
buying    1727      4   high   432
maint     1727      4   high   432
doors     1727      4      3   432
persons   1727      3      4   576
lug_boot  1727      3    med   576
safety    1727      3    med   576
class     1727      4  unacc  1209

In [16]:
for col in col_names:
    print(df[col].value_counts)

<bound method IndexOpsMixin.value_counts of 0       vhigh
1       vhigh
2       vhigh
3       vhigh
4       vhigh
        ...
1722      low
1723      low
1724      low
1725      low
1726      low
Name: buying, Length: 1727, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       vhigh
1       vhigh
2       vhigh
3       vhigh
4       vhigh
        ...
1722      low
1723      low
1724      low
1725      low
1726      low
Name: maint, Length: 1727, dtype: object>
<bound method IndexOpsMixin.value_counts of 0           2
1           2
2           2
3           2
4           2
        ...
1722    5more
1723    5more
1724    5more
1725    5more
1726    5more
Name: doors, Length: 1727, dtype: object>
<bound method IndexOpsMixin.value_counts of 0          2
1          2
2          2
3          2
4          2
        ...
1722    more
1723    more
1724    more
1725    more
1726    more
Name: persons, Length: 1727, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       small
1       small
2         med
3         med
4         med
        ...
1722      med
1723      med
1724      big
1725      big
1726      big
Name: lug_boot, Length: 1727, dtype: object>
<bound method IndexOpsMixin.value_counts of 0        med
1       high
2        low
3        med
4       high
        ...
1722     med
1723    high
1724     low
1725     med
1726    high
Name: safety, Length: 1727, dtype: object>
<bound method IndexOpsMixin.value_counts of 0       unacc
1       unacc
2       unacc
3       unacc
4       unacc
        ...
1722     good
1723    vgood
1724    unacc
1725     good
1726    vgood
Name: class, Length: 1727, dtype: object>

In [19]:
df[df.duplicated()]

Empty DataFrame
Columns: [buying, maint, doors, persons, lug_boot, safety, class]
Index: []

In [4]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder()
df['buying'] = oe.fit_transform(df[['buying']])
df['maint'] = oe.fit_transform(df[['maint']])
df['persons'] = oe.fit_transform(df[['persons']])
df['doors'] = oe.fit_transform(df[['doors']])
df['lug_boot'] = oe.fit_transform(df[['lug_boot']])
df['safety'] = oe.fit_transform(df[['buying']])
df['buying'] = oe.fit_transform(df[['buying']])